


/* =============================== */
/*           CARRUSEL              */
/* =============================== */

.carrusel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}

.slide {
  flex: 0 0 calc(100% / 3);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.item-card {
  width: 100%;
  background: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: white;
}

.item-card img {
  width: 100%;
  height: 500px;
  object-fit: contain; /* ← Ya NO corta la imagen */
  background: black;
}

.item-info {
  padding: 10px;
  height: 100px;
  pointer-events: auto;
}

.btn-ver-mas {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #ff4081;
  border: none;
  padding: 7px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.carrusel-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 30px;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.carrusel-btn.prev { left: 10px; }
.carrusel-btn.next { right: 10px; }



/* =============================== */
/*   SECCIÓN POR GÉNERO (FINAL)   */
/* =============================== */

.genero-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centra las tarjetas */
  gap: 25px;
  padding: 10px 0;
}

.genero-card {
  min-width: 300px;
  max-width: 300px;
  background: #111;
  border-radius: 12px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.genero-card:hover {
  transform: translateY(-4px);
}

/* Imagen */
.img-wrap {
  position: relative;
  width: 100%;
  height: 360px;
  background: #000;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* Badge */
.badge-genero {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  text-transform: capitalize;
}

/* Info */
.genero-info {
  padding: 10px;
  text-align: center;
  color: white;
}

.titulo-card {
  font-size: 15px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anio-card {
  font-size: 13px;
  color: #cfcfcf;
  margin-top: 6px;
}

h2 {
  padding-left: 15px; /* espacio a la izquierda */
}

.titulo-genero{
  padding-left: 15px;
}