.router-outlet-container{
    background-color:  #E5E5E5 !important;
    /*#c3c1c1*/
}

.spacer{
    flex: 1 1 auto;
}

mat-toolbar h1{
    padding-left: 10px;
    font-size: 28px;
    color: wheat;
}

.menu{
    background-color: darkblue !important;
}

#logo{
    width: 40px;
    height: 40px;
    border-radius: 13px;
    
}

.btnMenu:hover{
    color: yellow ;
    cursor: pointer;
    font-size: 15px;
}

footer{
    background-color: blue;
    color: white;
}

#irArriba{
    color: white;
    text-decoration: none;
}

.pie{
    background-color: darkblue;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

.columna{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
