.hoja{
  padding: 20px;
}

.card-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 750px; /* Ancho máximo más compacto */
  margin: 0 auto;
  width: 100%;
}

h2 {
  color: #3f51b5;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

.form-grid {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.full {
  grid-column: 1 / -1;
}

.descripcion {
  grid-column: 1 / -1;
}

mat-form-field {
  width: 100%;
}

.btn-guardar {
  margin-top: 16px;
  padding: 8px 20px;
  font-size: 14px;
}

/* Para evitar que se expanda demasiado en pantallas grandes */
@media (min-width: 1200px) {
  .card-form {
    max-width: 750px;
  }
} 

.titulo{
  text-align: center;
  color: black;
}

.editar-contenido{
  color: black;
}